* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Source Code Pro', monospace;
  font-size: 12px;
  background-color: #333;
  color: #d5d5d5;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 1rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

section {
  padding: 3rem 0;

}

.hero {
  width: 100%;
  background: url(/img/hero.jpeg) #4357ad no-repeat fixed center center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.hero img {
  width: 150px;
}

.construction {
  font-size: 1.5rem;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}