/* BASE */

:root {
  --background: #141414;
  --foreground: #d5d5d5;
  --accent: #92DCE5;
  --accent-light: #a2eaf3;

  --base-sizing: 1rem;

  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 14px;
  background-color: var(--background);
  color: var(--foreground);
}

h1, h2, h3 {
  margin-bottom: var(--base-sizing);
  position: relative;
}

h1, h2 {
  font-family: 'Source Code Pro', monospace;
  width: 100%;
  font-size: 3rem;
  border: 1px solid #666;
  border-radius: 5px;
  padding: .7rem;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.75rem;
}

h4 {
  font-family: 'Source Code Pro', monospace;
  font-size: 1.2rem;
}

h5 {
  font-size: 1.1rem;
}

h6 {
  font-size: 1rem;
}

section {
  height: 100vh;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul, p {
  margin-bottom: var(--base-sizing);
}

.accent {
  background-color: var(--accent);
}

.accent-text {
  color: var(--accent);
}

/* HEADER */

header {
  background-color: #141414;
  padding: .6rem;
  position: sticky;
  top: 0;
  box-shadow: 0 0 4px #141414;
  display: flex;
  justify-content: space-between;
  z-index: 10;
}

header nav {
  list-style-type: none;
  padding: var(--base-sizing);
  display: flex;
  gap: var(--base-sizing);
}

a {
  font-family: 'Source Code Pro', monospace;
  color: #d5d5d5;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: #92DCE5;
}

a.button {
  border: 1px solid var(--background);
  border-radius: 3px;
  padding: var(--base-sizing);
}

a.button.accent {
  color: var(--background)
}

a.button.accent:hover {
  background-color: var(--accent-light);
}

section .content {
  max-width: 600px;
}

/* HERO */

.hero {
  /* background: url(/img/hero.png) no-repeat fixed center center; */
  gap: var(--base-sizing);
}

.hero h1::before,
.hero h2::before {
  background-color: var(--background);
  font-size: var(--base-sizing);
  padding: .3rem;
  position: absolute;
  top: -15px;
  left: 15px;
  
}

.hero h1::before {
  content: 'Name'
}

.hero h2::before {
  content: 'Title'
}

.hero h2::after {
  content: '|';
  color: var(--accent);
  animation: 1s infinite steps(1, jump-start) blink;
}

@keyframes blink {
  from {
    opacity: 1;
  }

  50% { 
    opacity : 0;
  }

  to { 
    opacity : 1;
  }
}

/* ABOUT */

.about .content {
  justify-content: center;
}

img.avatar {
  width: 100px;
  float: left;
  margin-right: var(--base-sizing);
}

p {
  margin-bottom: var(--base-sizing);
}

/* UNDER CONSTRUCTION */

.construction {
  font-size: 1.5rem;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* EXPERIENCE */

.experience nav {
  font-size: .7rem;
  display: flex;
  list-style-type: none;
}

.experience nav li {
  padding: .5rem;
}

.experience nav li:not(:last-child) {
  border-right: 1px solid #333;
}

.experience nav a {
  transition: font-size .5s;
}

.experience nav a:hover {
  font-size: .9rem;
}

.jobs {
  max-width: 600px;
  display: grid;
  grid-template-columns: minmax(600px, 1fr);
}

.job {
  padding: 1rem 1rem 2rem;
}

.job:not(:last-child) {
  border-bottom: 1px solid var(--accent);
}

.job summary {
  height: 0;
  transition: .2s;
}

.job[open] {
  animation: .3s accordion;
}

.job[open] summary {
  height: auto;
  color: var(--accent);
  font-weight: bold;
}

.job summary::marker {
  color: var(--accent);
  font-size: .65rem;
  transition: .2s;
}

.job h4 {
  color: var(--accent);
  display: inline-block;
}

.job .years {
  font-size: .8rem;
  margin: .5rem 0 1.5rem;
}

.job ul {
  margin-left: 40px;
}

.job li {
  margin-bottom: .5rem;
}

.job li::marker {
  content: '</> ';
  font-family: 'Source Code Pro', monospace;
  font-size: .5rem;
  font-weight: bold;
  color: var(--accent);
}

@keyframes accordion {
  0% {
    /* height: 0; */
    opacity: 0;
    /* transform: translateY(-1.25em); */
  }
  100% {
    /* height: auto; */
    opacity: 1;
    /* transform: translateY(0); */
  }
}

/* PROJECTS */

.slider {
  width: 600px;
  height: 400px;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.slider::-webkit-scrollbar {
  display: none;
}

.slider > .slide {
  scroll-snap-align: start
}

.slide {
  width: 600px;
  height: 100%;
  flex-shrink: 0;
}

/* .projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: var(--base-sizing);
} */

.project {
  width: 600px;
  display: grid;
  grid-template-columns: 1fr 0fr;
  grid-template-rows: auto 1fr;
  gap: 1rem;
  align-items: flex-start;
  transition: .5s;
}

.project:hover {
  grid-template-columns: 3fr 2fr;
}

.project .right {
  font-size: .75rem;
  display: none;
  opacity: 0;
  transition: .5s;
}

.project:hover .right {
  display: block;
  opacity: 1;
}



.project .right p {
  margin-top: .75rem;
}

.project h4,
.project h5 {
  grid-column: 1 / -1;
}

.project img {
  width: 100%;
}

.project a {
  font-weight: bold;
  text-transform: uppercase;
}

img.icon {
  width: 20px;
  height: 20px;
  fill: white;
}

img.icon:hover {
  filter: hue-rotate(180deg)
}

dialog#projectDialog {
  width: 80%;
  background-color: var(--background);
  color: var(--foreground);
  border-radius: 3px;
  margin: auto;
  padding: 1.25rem;
}

dialog#projectDialog form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

dialog#projectDialog .content p {
  margin-top: .65rem;
}

.tag {
  background: var(--foreground);
  color: var(--background);
  font-family: 'Source Code Pro', monospace;
  font-size: .6rem;
  border-radius: 3px;
  padding: .2rem;
  text-transform: uppercase;
}

.tag.react {
  background-color: #5ed3f3;
  color: var(--background)
}
.tag.styled {
  background-color: #e48cd6;
  color: var(--background)
}
.tag.vercel {
  background-color: #fff;
  color: var(--background)
}
.tag.tailwind {
  background-color: #0ea5e9;
  color: var(--background)
}
.tag.npm {
  background-color: #c53635;
  color: var(--foreground)
}
.tag.ts {
  background-color: #2f74c0;
  color: var(--foreground)
}
.tag.vsc {
  background-color: #40a8eb;
  color: var(--background)
}