/* BASE */

:root {
  --black: #141414;
  --white: #d5d5d5;
  --background: var(--black);
  --foreground: var(--white);
  --rose: #c2847a;
  --rose-light: #d4a9a2;
  --rose-transparent: rgba(230, 178, 170, .25);
  --blue: #92dce5;
  --blue-light: #b3e6ed;

  --base-sizing: 1rem;

  font-size: 14px;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  background-color: var(--background);
  color: var(--foreground);
  scroll-behavior: smooth;
}

h1, h2 {
  font-family: 'Source Code Pro', monospace;
  font-size: 2.7rem;
  border: 1px solid #666;
  border-radius: 5px;
  margin-bottom: var(--base-sizing);
  padding: .7rem;
  position: relative;
}

:is(h2, h3, h4):has(+ :is(h3, h4, h5)) {
  margin-bottom: 0;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.75rem;
  color: var(--blue);
  margin-bottom: var(--base-sizing);
  margin-right: calc(var(--base-sizing) / 2);
  position: relative;
}

h4 {
  font-family: 'Source Code Pro', monospace;
  font-size: 1.2rem;
  margin-bottom: var(--base-sizing);
}

h5 {
  font-size: 1.1rem;
}

h6 {
  font-size: var(--base-sizing);
}

section {
  min-height: 100vh;
  padding: 4.25rem 1rem;
  display: flex;
  opacity: 0;
  justify-content: center;
  align-items: center;
  transition: .55s;
}

section.show {
  opacity: 1;
}

section h3 {
  writing-mode: vertical-lr;
}

section .content {
  max-width: 600px;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

ul, p {
  margin-bottom: var(--base-sizing);
}

.primary {
  background-color: var(--rose);
}

.primary-text {
  color: var(--rose);
}

.accent {
  background-color: var(--blue);
}

.accent-text {
  color: var(--blue);
}

p {
  margin-bottom: var(--base-sizing);
}

a {
  font-family: 'Source Code Pro', monospace;
  color: var(--foreground);
  text-decoration: none;  
}

nav a {
  text-shadow: none;
  cursor: pointer;
  transition: .5s;
}

nav a:hover {
  color: #92dce5;
  text-shadow: 0 0 5px var(--rose), 0 0 5px #f5f5f5;
  font-size: 1.1rem;
}

/* HEADER */

header {
  background-color: var(--background);
  padding: .6rem;
  position: sticky;
  top: 0;
  box-shadow: 0 0 4px #141414;
  display: flex;
  justify-content: space-between;
  z-index: 10;
}

header nav {
  list-style-type: none;
  padding: var(--base-sizing);
  display: flex;
  gap: var(--base-sizing);
}

a.button {
  border: 1px solid var(--black);
  border-radius: 3px;
  padding: var(--base-sizing);
}

a.button.primary {
  color: var(--black)
}

a.button.primary:hover {
  background-color: var(--rose-light);
}

a.button.accent {
  color: var(--background)
}

a.button.accent:hover {
  background-color: var(--blue-light);
}

/* HERO */

.hero {
  height: 100vh;
  gap: var(--base-sizing);
}

.hero .content {
  gap: var(--base-sizing);
  justify-items: stretch;
}

.hero h1::before,
.hero h2::before {
  background-color: var(--background);
  font-size: var(--base-sizing);
  padding: .3rem;
  position: absolute;
  top: -15px;
  left: 15px;
  
}

.hero h1::before {
  content: 'Name'
}

.hero h2::before {
  content: 'Title'
}

.hero h2::after {
  content: '|';
  color: var(--blue);
  animation: 1s infinite steps(1, jump-start) blink;
}

@keyframes blink {
  from {
    opacity: 1;
  }

  50% { 
    opacity : 0;
  }

  to { 
    opacity : 1;
  }
}

/* ABOUT */

.about .content {
  grid-template-columns: auto 1fr;
}

.about h3 {
  transform: scaleY(-1) scaleX(-1);
}

.about p:last-of-type {
  grid-column: 1 / -1;
}

img.avatar {
  width: 125px;
  margin-left: var(--base-sizing);
  float: right;
}

.tech {
  display: grid;
  grid-template-columns: repeat(5, 30px);
  gap: var(--base-sizing);
  grid-auto-flow: dense;
  grid-column: 1 / -1;
}

.tech h4 {
  margin-top: var(--base-sizing);
  grid-column: 1 / -1;
}

.tech img {
  width: 30px;
}

.tech img.lg {
  width: 74px;
  grid-column: span 2;
  grid-row: span 2;
}

/* UNDER CONSTRUCTION */

.construction {
  font-size: 1.5rem;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* EXPERIENCE */

.experience .content {
  grid-template-columns: 1fr auto;
  align-items: flex-end;
}

.jobs {
  height: 350px;
  display: grid;
  grid-template-columns: 60px minmax(100px, 550px);
  gap: 1.5rem;
}

.jobs nav {
  font-size: .8rem;
}

.jobs nav ul {
  height: 100%;
  margin: 0;
  display: grid;
  list-style-type: none;
  align-items: stretch;
}

.jobs nav a {
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
}

.jobs nav a:hover {
  font-size: .9rem;
}

.job {
  max-width: 600px;
  padding: var(--base-sizing) var(--base-sizing) 2rem;
  opacity: 0;
  transition: .3s;
}

.job.show {
  opacity: 1;
  transition: .3s;
}

.job h4 {
  color: var(--blue);
  display: inline-block;
}

.job .years {
  font-size: .8rem;
  margin: .5rem 0 1.5rem;
}

.job ul {
  margin-left: 40px;
}

.job li {
  margin-bottom: .5rem;
}

.job li::marker {
  content: '</> ';
  font-family: 'Source Code Pro', monospace;
  font-size: .5rem;
  font-weight: bold;
  color: var(--blue);
}

.slider {
  /* max-width: 600px; */
  height: 310px;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.slider::-webkit-scrollbar {
  display: none;
}

.slider > .slide {
  /* width: 600px; */
  height: 100%;
  flex-shrink: 0;
  scroll-snap-align: start;
}

.slider + nav {
  /* width: 600px; */
  height: 15px;
  margin-top: .5rem;
  list-style-type: none;
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
}

.slider + nav li a {
  width: 10px;
  height: 10px;
  background-color: var(--foreground);
  border-radius: 50%;
  margin: 0 .5rem;
  display: inline-block;
}

/* PROJECTS */

div.projects {
  max-width: 600px;
  display: grid;
  grid-template-columns: repeat(2, 300px);
  gap: var(--base-sizing);
}

.projects .content {
  grid-template-columns: auto 1fr;
}

.projects h3 {
  transform: scaleY(-1) scaleX(-1);
}

.project {
  width: 300px;
  display: grid;
  grid-template-columns: 1fr 0fr;
  grid-template-rows: auto 1fr;
  gap: 0;
  align-items: flex-start;
  transition: .2s;
}

.project:hover {
  grid-template-columns: 4fr 2fr;
  gap: var(--base-sizing);
}

.project .right {
  font-size: .75rem;
  display: none;
  opacity: 0;
  transition: .5s .2s;
}

.project:hover .right {
  display: block;
  opacity: 1;
}

.project .right p {
  margin-top: .75rem;
}

.project h4,
.project h5 {
  grid-column: 1 / -1;
}

.project img {
  width: 100%;
}

.project a {
  font-weight: bold;
  text-transform: uppercase;
}

img.icon {
  width: 20px;
  height: 20px;
  fill: white;
}

img.icon:hover {
  filter: hue-rotate(180deg)
}

.tags {
  margin-top: .35rem;
  display: flex;
  flex-wrap: wrap;
  gap: .2rem;
}

.tag {
  background: var(--foreground);
  color: var(--background);
  font-family: 'Source Code Pro', monospace;
  font-size: .6rem;
  border-radius: 3px;
  padding: .2rem;
  text-transform: uppercase;
}

.tag.react {
  background-color: #5ed3f3;
  color: var(--background)
}
.tag.styled {
  background-color: #e48cd6;
  color: var(--background)
}
.tag.vercel {
  background-color: #fff;
  color: var(--background)
}
.tag.tailwind {
  background-color: #0ea5e9;
  color: var(--background)
}
.tag.npm {
  background-color: #c53635;
  color: var(--foreground)
}
.tag.ts {
  background-color: #2f74c0;
  color: var(--foreground)
}
.tag.vsc {
  background-color: #40a8eb;
  color: var(--background)
}
.tag.node {
  background-color: #026e00;
  color: var(--foreground);
}

/* CONTACT */

section.contact h3 {
  color: var(--black);
  writing-mode: horizontal-tb;
}

.contact .card {
  background-color: var(--foreground);
  color: var(--background);
  border: 1px solid var(--black);
  border-radius: 5px;
  padding: 2rem;
  position: relative;
  overflow: hidden;
}

.contact .card::before {
  content: '</>';
  color: var(--blue);
  filter: brightness(0.7) opacity(0.3);
  font-size: 6rem;
  position: absolute;
  top: -50px;
  left: -20px;
}

.contact .card a {
  color: var(--background);
  text-decoration: none;
}

.contact .card a:hover {
  text-decoration: underline;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: var(--white);
    --foreground: var(--black);
    --blue: #92dce5;
    --blue-light: #a2eaf3;
  }
}

@media(max-width: 600px) {
  :root {
    font-size: 10px;
  }

  div.projects {
    grid-template-columns: 1fr;
  }
}